@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Sans+JP:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend+Deca:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --yellow: #FCB72B;
    --darkNavy: #495567;
    --dimGrey: #939CAA;
    --lightGrey: #E5ECF4;
    --snow: #F2F5F9;
    --lightYellow: #FFF4DF;
    --darkMediumNavy: #333A44;
}

main {
    padding-top: 4rem;
}

/* tablet */

@media (min-width: 768px) {
    main {
        padding-top: 6rem;
    }
}

/* opacité */

.opacity {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: none;
}


/* Header */

.navBar {
    padding: 1rem 2rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 4rem;
}

.navBar img {
    height: 2rem;
    width: 2rem;
}

.navBar a {
    color: var(--lightGrey);
    text-decoration: none;
}

.navBar .logo {
    text-align: center;
    margin: 0 auto;
    color: var(--darkNavy);
    font-family: 'Space Mono';
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
}

.navBar .menu-hamburger {
    display: block;
    position: absolute;
    left: 2rem;
    z-index: 15;
}

.navBar .menu-hamburger-close {
    display: none;
    width: 2rem;
    left: 2rem;
    position: absolute;
    z-index: 15;
}

.navBar .nav-links.mobile-menu+.menu-hamburger-close {
    display: block;
}

.nav-links {
    top: 4rem;
    left: 0;
    position: absolute;
    background-color: #333A44;
    width: 72%;
    height: calc(100dvh - 4rem);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-left: -100%;
    transition: all 0.5s ease;
    z-index: 5;
    padding: 2rem;
}

.nav-links ul li {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-family: 'Space Mono';
    font-weight: 700;
    line-height: 2.2rem;
    list-style-type: none;
}

.nav-links .intro-getButton {
    margin: 0 auto;
    padding: 1rem 3rem;
}

.mobile-menu {
    margin-left: 0;
}

.navBarPasMobile {
    display: none;
}

/* Header tablet */

@media (min-width: 768px) {
    .navBar {
        display: none;
    }

    .navBarPasMobile {
        padding: 1rem 1rem;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: fixed;
        height: 6rem;
        z-index: 10;
    }

    .navbarLeftpasMobile {
        display: flex;
    }

    .navBarPasMobile .logoPasMobile {
        text-align: center;
        color: var(--darkNavy);
        font-family: 'Space Mono';
        font-size: 2.5rem;
        line-height: 1rem;
        font-weight: 700;
        letter-spacing: -2.14px;
        text-decoration: none;
        padding: 0;
    }

    .navBarPasMobile .nav-linksPasMobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navBarPasMobile .nav-linksPasMobile ul {
        display: flex;
        gap: 3rem;
        padding-left: 20%;
    }

    .navBarPasMobile .nav-linksPasMobile li {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .navBarPasMobile .nav-linksPasMobile li a {
        text-decoration: none;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 0.938rem;
        line-height: 1.563rem;
        text-decoration: none;
        color: var(--dimGrey);
        transition: 0.3s ease;
    }

    .navBarPasMobile .nav-linksPasMobile li a:hover {
        color: var(--yellow);
    }
}

/* Intro home */

.intro-section {
    display: flex;
    position: relative;
    background-image: url('../images/bitmap.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    color: var(--white);
    font-family: 'Space Mono';
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    height: 650px;
    margin-bottom: 5rem;
}

.intro-content h1 {
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: -1.79px;
}

.intro-content p {
    font-family: 'Lexend Deca';
    font-size: 15px;
    line-height: 25px;
    margin: 24px 0;
}

.intro-getButton {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--yellow);
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    color: var(--white);
    text-decoration: none;
    margin: 0 auto;
    transition: 0.3s ease-in-out;
}

.intro-getButton:hover {
    color: var(--yellow);
    background-color: white;
    border: 5px solid var(--yellow);
}

.intro-fleche {
    position: absolute;
    top: 30rem;
    left: -20rem;
}

/* Steps home page*/

.steps {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    margin-bottom: 5rem;
}


.step__title {
    font-family: 'Space Mono';
    color: var(--darkNavy);
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.89px;
}

.step__description {
    font-family: 'Lexend Deca';
    color: var(--dimGrey);
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/* Learn more sections home page */
.content-section {
    display: flex;
    position: relative;
    padding: 0 2rem;
    font-family: 'Space Mono';
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
    gap: 5rem;
}

.content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content__img {
    border-radius: 100%;
    max-width: 445px;
    height: auto;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Remplit le conteneur tout en gardant le bon ratio */
}

.content__h3 {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--darkNavy)
}

.content__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--dimGrey);
}

/* il est 9h34 petit commentaire pour le début du footer 💁‍♂️ */

footer h2 {
    font-family: 'Space Mono';
    font-weight: 700;
    letter-spacing: -1.43px;
    text-align: center;
    color: white;
}

footer .footerTop {
    background-color: var(--darkNavy);
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

footer .footerTop-telechargement {
    transition: 0.3s ease;
}

footer .footerTop-telechargement a:hover svg path {
    fill: white;
}

footer .footerTop-telechargement a:hover svg rect {
    fill: var(--yellow);
}

footer .fondFooterTop-left,
footer .fondFooterTop-mid,
footer .fondFooterTop-right {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

footer .fondFooterTop-left {
    left: -200%;
}

footer .fondFooterTop-mid {
    left: -50%;
}

footer .fondFooterTop-right {
    right: -10%;
}

footer .footerTop h2 {
    padding-bottom: 2.5rem;
    font-size: 2rem;
    line-height: 2rem;
}

footer .footerTop .footerTop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.804rem;
    padding: 0rem 2rem;
}

footer .footerBottom {
    background-color: var(--darkMediumNavy);
    width: 100%;
    height: 27.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footerBottom a {
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 0.938rem;
    line-height: 1.563rem;
    text-decoration: none;
    color: var(--dimGrey);
}

footer .footerBottom .footerBottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .footerBottom .footerBottom-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 5.313rem;
    text-align: center;
    transition: 0.3s ease;
}

footer .footerBottom .footerBottom-links a:hover {
    color: var(--yellow);
}

footer .footerBottom .footerBottom-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.footerBottom-reseaux {
    transition: 0.3s ease;
}

.footerBottom-reseaux:hover svg path {
    fill: white;
}

footer .footerBottom h2 {
    line-height: 3rem;
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
}

/* Image setup for header page */

.banner {
    height: 160px;
    /* Exemple de hauteur */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Space Mono';
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5rem;
}


.banner-about {
    background-image: url('../images/aboutBanner.png');
}

.banner-careers {
    background-image: url('../images/aboutCareers.png');
}

.banner-locations {
    background-image: url('../images/aboutLocations.png');
}

/* About section */

.img-wrapper {
    width: 100%;
    /* Laisse la largeur s'adapter au conteneur parent */
    max-width: 400px;
    /* Taille maximale pour limiter la largeur sur des écrans larges */
    aspect-ratio: 1;
    /* Assure un conteneur carré (1:1) */
    border-radius: 50%;
    /* Rend le conteneur rond */
    overflow: hidden;
    /* Cache tout ce qui dépasse du cercle */
    margin: 0 auto;
    /* Centre le wrapper */
}

.our__values {
    gap: 0;
}

.our__values .content__h3 {
    padding-bottom: 2rem;
}

/* il est 14h39 début média queries tablet */

@media (min-width: 768px) {

    footer .footerTop h2 {
        font-family: 'Space Mono';
        letter-spacing: -2.14px;
        color: white;
        padding: 0;
        font-size: 3rem;
        line-height: 3rem;
    }

    footer .footerTop-telechargement {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }

    footer .footerBottom h2 {
        padding: 0;
    }

    footer .footerTop {
        background-color: var(--darkNavy);
        width: 100%;
        height: 18.75rem;
    }

    footer .footerBottom {
        height: 6rem;
    }

    footer .footerBottom .footerBottom-container {
        flex-direction: row;
        justify-content: center;
    }

    footer .footerBottom .footerBottom-links {
        flex-direction: row;
        text-align: center;
        gap: 1rem;
        padding: 0 9.563rem 0 3.661rem;
    }

    footer .footerTop .fondFooterTop-left {
        left: -28%;
    }

    footer .footerTop .fondFooterTop-mid {
        left: 24%;
    }

    footer .footerTop .fondFooterTop-right {
        right: -1%;
    }
}

@media (min-width: 1024px) {
    footer .footerTop {
        justify-content: center;
        align-items: center;
    }

    footer .footerTop h2 {
        padding-right: 15rem;
        font-size: 3rem;
        line-height: 3rem;
        max-width: 68%;
        text-align: left;
    }

    footer .footerBottom .footerBottom-links {
        flex-direction: row;
        text-align: center;
        gap: 1rem;
        padding: 0 26rem 0 3.661rem;
    }

    footer .footerTop .fondFooterTop-left {
        left: 2rem;
    }

    footer .footerTop .fondFooterTop-mid {
        left: 27.25rem;
    }

    footer .footerTop .fondFooterTop-right {
        right: 0;
    }
}

@media (min-width: 1440px) {
    footer .footerTop {
        justify-content: center;
        align-items: center;
    }

    footer .footerTop h2 {
        padding-right: 21rem;
        font-size: 3rem;
        line-height: 3rem;
        max-width: 59%;
        text-align: left;
    }

    footer .footerBottom .footerBottom-links {
        flex-direction: row;
        text-align: center;
        gap: 1rem;
        padding: 0 35.625rem 0 3.661rem;
    }

    footer .footerTop .fondFooterTop-left {
        left: 20rem;
    }

    footer .footerTop .fondFooterTop-mid {
        left: 49rem;
    }

    footer .footerTop .fondFooterTop-right {
        right: 0;
    }
}